@import-normalize; /* bring in normalize.css styles */

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family:  'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

samp {
background-color: #ffffff;
border: none;
cursor: pointer;
};

a {
  text-decoration: none;
  color: inherit;
}